<ul>
  {%- for item in include.collection -%}
    <li>
      {%- if item.url -%}
        <a href="{{ item.url }}">{{ item.title }}</a>
      {%- else -%}
        {{ item.title }}
      {%- endif -%}
    </li>

    {%- if item.post_list -%}
      <ul>
        {%- assign category_posts = site.posts | where: "category", item.post_list.category | sort: "date" -%}
        {%- for post in category_posts limit: item.post_list.limit -%}
          <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {%- endfor -%}
        {%- if item.post_list.show_more -%}
          <li><a href="{{ item.post_list.show_more_url }}">{{ item.post_list.show_more_text }}</a></li>
        {%- endif -%}
      </ul>
    {%- endif -%}

    {%- if item.entries -%}
      {%- include menu_item.html collection=item.entries -%}
    {%- endif -%}
  {%- endfor -%}
</ul>
